<tr>
    <th scope="row">{{ id }}</th>
    <td>{{ gameTitle }}</td>
    <td>{{ gameGenre }}</td>
    <td>{{ gameYear }}</td>
    <td><a [routerLink]="[id]">{{ gameProgress }}</a></td>
</tr>
<!-- <li>
    <h4>Game : {{ gameTitle }} -- Genre : {{ gameGenre }} -- Year : {{ gameYear }}</h4>
    <a [routerLink]="[id]">Progress</a>
    <button class="btn btn-sm btn-success" *ngIf="gameStatus === 'éteint'" (click)="onSwitch()">Allumer</button>
    <button class="btn btn-sm btn-danger" *ngIf="gameStatus === 'allumé'" (click)="onSwitch()">Eteindre</button>
</li> -->

<!-- [ngClass]="{'list-group-item': true,
'list-group-item-success': gameStatus === 'allumé',
'list-group-item-danger': gameStatus === 'éteint'}" -->