<h2>My Games </h2>
      <p>Last updated : {{ lastUpdate | async | date:short }}</p>
      <table class="table table-dark table-striped">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col"><a (click)="sortByTitle()">Title</a></th>
              <th scope="col"><a (click)="sortByGenre()">Genre</a></th>
              <th scope="col"><a (click)="sortByRelease()">First release</a></th>
              <!-- <th scope="col"><a (click)="sortByProgress()">Progress</a></th> -->
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let game of games; let i = index">
              <tr>
                <th scope="row">{{ i+1 }}</th>
                <td><a [routerLink]="game[0]">{{ game[2] }}</a></td>
                <td>{{ game[1] }}</td>
                <td>{{ game[3] }}</td>
                <!-- <td>{{ game[1].completion }}% done</td> -->
              </tr>
            </ng-container>
        </tbody>
      </table>
      
      <!-- <button class="btn btn-primary" (click)="onSave()">Save games</button> -->
      <!-- <button class="btn btn-success"
      (click)="onAllumer()">Tout allumer</button>
      <button class="btn btnS-danger"
      (click)="onEteindre()">Tout éteindre</button> -->


<!-- 
      <ul class="list-group">
        <app-game  *ngFor="let game of games; let i = index"
                       [gameTitle]="game.title"
                       [gameGenre]="game.genre"
                       [gameYear]="game.year"
                       [id]="game.id"></app-game>
      </ul>
      <button class="btn btn-primary" (click)="onSave()">Save games</button> -->


